.jumbotron {
  background-color: rgb(39, 39, 41);
  color: white;
  height: 75px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.input {
  width: 100%;
}

.input-container {
  padding-right: 0px;
}

.button-container {
  padding-left: 0px;
}

.search-button {
  height: 30px;
  width: 30px;
}

.corner {
  border-radius: 5px;
}
